name: Deploy to DigitalOcean

on:
  push:
    branches: [main]  # yoki master - qaysi branch ishlatayotganingizga qarab

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install dependencies
        run: npm ci
      
      - name: Build project
        run: npm run build
      
      - name: Deploy to server
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          mkdir -p ~/.ssh
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H 143.198.64.229 >> ~/.ssh/known_hosts
          scp -i ~/.ssh/id_ed25519 -r ./out/* root@143.198.64.229:/var/www/site/